# Learn about modularity

* Use the / operator for float division
* Use the .. for integer division
* Use the % for the remainer (modulus)

In [1]:
4/2

2.0

In [2]:
4//2

2

In [3]:
4%2

0

In [4]:
5%2

1

# Built-in Types

In [5]:
x = 100
print(x)

100

In [6]:
y = x
print(y)

100

## Values vs Identities
Use the **id()**

In [7]:
a = 256
id(a)

4307342416

In [8]:
b = 345
id(b)

4343945776

In [9]:
b = a
print(id(a))
print(id(b))

4307342416
4307342416

In [10]:
id(a) == id(b)

True

In [11]:
a += 2
print(a, id(a))
print(b, id(b))

258 4343945648
256 4307342416

## Python return semantics
Python's return statement uses the **pass-by-reference** semantic

In [12]:
def fun(d):
    return d

# Use it
c = [6, 10, 1]
result = fun(c)

In [13]:
result is c

True

### Function arguments

In [14]:
def banner(message, border):
    """
    Prints a message with a top and bottom border character
    Param: message -> actual message
    Param: border -> special character for top and bottom border
    """
    borderLength = len(message)
    
    #while borderLength > 0:
     #   print("*", end = "")
      #  borderLength -= borderLength
    #print(message)
    #borderLength = len(message)
    #while borderLength > 0:
    #    print("*", end = "")
    #    borderLength -= borderLength
        
    line = border * len(message)
    print(line)
    print(message)
    print(line)

        
# Test it
banner("Hello", "*")

*****
Hello
*****

# Collections
* Tuple
* Strings
* Range
* List
* Dicitonaries
* Set

## List
A sequence of objects. They are mutable. Use []

In [15]:
[1, 2, 3]

[1, 2, 3]

In [17]:
a = ["apple", "bananas", "pear"]
print(a)

['apple', 'bananas', 'pear']

In [18]:
b = ["yes", 1.7, 9, [2, "No"]]
print(b)

['yes', 1.7, 9, [2, 'No']]

In [19]:
a = ["apple", "bananas", "pear"]
print(a)
# Access individual members using index notation
print(a[1])

['apple', 'bananas', 'pear']
bananas

In [20]:
# To add members to your list use the append method
a.append("tomatoes")
print(a)

['apple', 'bananas', 'pear', 'tomatoes']

In [21]:
# help(list)
# How to access all the members, but one at a time

for fruit in a:
    print(fruit)

apple
bananas
pear
tomatoes

In [1]:
# This works for strings as well
string = "Weber State"
for char in string:
    print(char)

W
e
b
e
r

S
t
a
t
e

In [2]:
# print full string
print(string)

Weber State

In [9]:
# Print one element of a string
print(string[4])

r

## Dictionaries
Use the **dict** constructor. It is a collection of items in random order. Use **{ }** to define a dictionary.

In [10]:
d = {"alice":"801-626-7766","juan":"956-12333-2233"}
print(type(d))

<class 'dict'>

In [11]:
# print all dicitonary
print(d)

{'alice': '801-626-7766', 'juan': '956-12333-2233'}

In [12]:
# to access one member
print(d["juan"])

956-12333-2233

In [13]:
# to iterate 
for key in d:
    print(key)

alice
juan

In [ ]:
# pass a collection to a function

In [17]:
m = [9, 15, 24]
# function to modify
def modify(m):
    """
    Function to modify collection
    """
    m.append(39)
    print("m = ", m)
    
# Test it
print(m)
modify(m)
print(m)

[9, 15, 24]
m =  [9, 15, 24, 39]
[9, 15, 24, 39]

In [19]:
f = [14, 3, 56]
def replace(g):
    g = [14, 52, 22] # you are creating a new object
    print("g = ", g)
    
# Test it
print(f)
replace(f)
# It will not be reflected outside the funciton
print(f)

[14, 3, 56]
g =  [14, 52, 22]
[14, 3, 56]

In [20]:
f = [14, 3, 56]
def replace_content(g):
    g[0] = 102
    g[2] = 103
    print("g = ", g)
    
# Test it
print(f)
replace_content(f)
# This modifies the content of the object and doesn't create a whole new one
print(f)

[14, 3, 56]
g =  [102, 3, 103]
[102, 3, 103]

### The LEGB Rule
* Local: names defined inside the function
* Enclosing: names defined inside any and all enclosing functions
* Global: names defined at the top level of a module
* Built-In: names built-in to the Python language

In [22]:
count = 0

def show_count():
    print(count)
    
def set_count(num):
    global count # connect to the global variable
    count = num
    
# Test it
show_count()
set_count(4)
show_count()

0
4

## Collections
So far we know this:
* str -- the immutable string sequence of Unicode code points
* list -- the mutable sequence of objects
* dict -- the mutable dictionary mapping from immutable keys to mutable objects

Let's discuss other collections
* tuple -- the immutable sequence of objects
* range -- for arithmetic progression of integers
* set -- a mutable collection of **unique**, immutable objects (cast something as a set to get rid of any duplicates)

### Tuples
Similar to list but they are delimited by parenthsis rather than square brackets

In [23]:
t = ("Ogden", 123, 9.3)
print(type(t))
print(t)

<class 'tuple'>
('Ogden', 123, 9.3)

In [25]:
# to access one member use [] with idex notation
print(t[0])

Ogden

In [26]:
# find the length of the tuple, use the built-in len()
len(t)

3

In [27]:
# iterate over the tuple
for item in t:
    print(item)

Ogden
123
9.3

In [28]:
# Concatination and repetition
t = t + ("Hello", "World")
print(t)

('Ogden', 123, 9.3, 'Hello', 'World')

In [29]:
t * 3

('Ogden',
 123,
 9.3,
 'Hello',
 'World',
 'Ogden',
 123,
 9.3,
 'Hello',
 'World',
 'Ogden',
 123,
 9.3,
 'Hello',
 'World')

In [31]:
# nested tuples
a = ((22, 334), (2, 3), (23, 11))
print(a)

((22, 334), (2, 3), (23, 11))

In [32]:
# print one member
print(a[2])

(23, 11)

In [34]:
# if member is a collection, then specify the element
print(a[2][0])

23

In [35]:
# The parenthesis are optional
p = 1, 1, 2, 3, 5, 8
print(type(p))
print(p)

<class 'tuple'>
(1, 1, 2, 3, 5, 8)

In [37]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

### Returning and unpacking tuples
This is often used when returning multiple values from a function

In [40]:
def min_max(items):
    """
    Return the minimum and maximum vales of a collection
    """
    return min(items), max(items)
# Test
values = min_max([34, 11, 22, 88, -10])
print(values, type(values))

(-10, 88) <class 'tuple'>

In [41]:
print(values[0]) # print minimum

-10

In [44]:
# Use tuple unpacking
min_val, max_val = min_max([34, 11, 22, 88, -10])
print(min_val)
print(max_val)

-10
88

In [45]:
# Swap variables with tuple unpacking
a = "jelly"
b = "bean"
print(a, b)
a, b = b, a
print(a, b)

jelly bean
bean jelly

Tuple constructor, use tuple()

In [46]:
tuple([22, 33, 44, 55])

(22, 33, 44, 55)

In [47]:
tuple("Weber State")

('W', 'e', 'b', 'e', 'r', ' ', 'S', 't', 'a', 't', 'e')

Membership Testing with **in** and **not in**

In [48]:
5 in (34, 22, 55)

False

In [49]:
5 not in (34, 22, 55)

True

## Strings in action

In [50]:
# Get the length of the string with len()
len("Weber State University")

22

In [51]:
# Concatenate
s = "New"
s = s + " "
s += "World"
print(s)

New World

## Join strings
Use the join() method

In [52]:
teams = ";".join(["Real Madrid", "Barcelona", "Juventus"])
print(teams)

Real Madrid;Barcelona;Juventus

In [55]:
# Or you can split records with split()
rec = teams.split(';')
for r in rec:
    print(r)

Real Madrid
Barcelona
Juventus

In [57]:
# String formating
print("The age of {0} is {1}".format("Mario", 21))
print("The age of {} is {}".format("Mario", 21))
print("The age of {1} is {0}".format("Mario", 21))

The age of Mario is 21
The age of Mario is 21
The age of 21 is Mario

In [58]:
# use names for print parameters
print("Current position {latitude} {longitude}".format(latitude="60N", longitude="5E"))

Current position 60N 5E

# Range
They are created with the **range()** constructor

In [59]:
range(5)

range(0, 5)

In [60]:
for i in range(5):
    print(i)

0
1
2
3
4

In [61]:
# Set the starting value
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [63]:
# create a list of the range on integers
l = list(range(1, 10))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
# Set the step argument
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [65]:
s = [0, 2, 4, 6, 8]
for i in range(len(s)):
    print(s[i])
    
# Super UNPYTHONIC

0
2
4
6
8

In [66]:
for value in s:
    print(value)

0
2
4
6
8

If you need a counter, you can use the **enumerate()** function which returns an iterable series

In [67]:
t = [6, 234, 21, 567, 987]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 234)
(2, 21)
(3, 567)
(4, 987)

In [68]:
t = [6, 234, 21, 567, 987]
# use tuple enpacking
for i,v in enumerate(t):
    print("i = {}, v = {}".format(i,v))

i = 0, v = 6
i = 1, v = 234
i = 2, v = 21
i = 3, v = 567
i = 4, v = 987

## List
List support zero and negative indexing

In [69]:
r = [1, -4, 23, 90]
# get first element
r[0]

1

In [70]:
# to print the last member
print(r[-1])

90

In [71]:
# The unpythonic way
print(r[len(r)-1])

90

Slicing Collections

In [72]:
s = [11, 22, 33, 44, 55, 66, 77, 88, 99]
# get form 1 to < 3
print(s[1:3])

[22, 33]

In [74]:
# get from 1 to all but the last one
print(s[1:-1])

[22, 33, 44, 55, 66, 77, 88]

In [75]:
# get form the third element on
print(s[3:])

[44, 55, 66, 77, 88, 99]

In [76]:
# from the beginning till the 3rd element
print(s[:4])

[11, 22, 33, 44]

### Copy a list

In [77]:
s = [11, 22, 33, 44, 55, 66, 77, 88, 99]
t = s

In [78]:
t is s

True

In [79]:
# Copy with a full slice
t = s[:]

In [80]:
t is s

False

In [81]:
# values are the same
t == s

True

In [82]:
# Use the copy() method
t = s.copy()
# same object
t is s

False